SALTO_PUBLIC_KEY=MFkwEwYHKoZIzj0CAQYIKoZIzj0DAQcDQgAEkGIqR7bC6cpt9DbMfFt8FpP1BEtlfbgayuMwMhXRrk1bRidhJXcGVvjocuol7xudJ8rWMNJr4sbhoTW3/KprhA==
SALTO_MKEY_DATA=MFkw...q9t
SALTO_MKEY_UID=00000000-0000-0000-0000-000000000000
# Decrypted mobile key TLV (hex)
SALTO_MKEY_TLV=c002...c30100